Mod5DIY/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Customers_MySQL_DB_Connection" doc:name="Database Config" doc:id="1a005202-4824-48b0-8360-1ca204fa610d" >
		<db:my-sql-connection host="mudb.mulesoft-training.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getAccounts" doc:id="46750293-ceb6-419f-9417-11418119ce9c" >
		<db:select doc:id="afe7ade7-5f4e-4dfb-a6b2-1cd80d255d6a" config-ref="Customers_MySQL_DB_Connection" doc:name="Query flights_customers" >
			<db:sql ><![CDATA[SELECT * FROM flights_customers
WHERE accountType = :acType]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	acType: message.attributes.queryParams.'type' default 'personal'
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="b7c3cf56-8809-4a1d-bc5f-53004110ca43" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.accountID default "",
	firstName: (payload01.name as String splitBy ' ')[0] default "",
	lastName: (payload01.name as String splitBy ' ')[1] default "",
	address: ((payload01.street default "") ++ ', ' ++ (payload01.city default "")) ++ ' ' ++ (payload01.state default ""),
	postal: payload01.postal default "",
	country: payload01.country default "",
	miles: payload01.miles default 0,
	creationDate: payload01.creationDate as String default "",
	"type": payload01.accountType default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e59b3da7-29c4-4c5d-96ee-d3ca35d9ba7d" message="#[payload]" />
	</flow>
	<flow name="getAccountById" doc:id="fabdce80-9e4b-44c8-ba6d-f9f93d4748a4" >
		<db:select doc:name="Query flights_customers" doc:id="3b281df4-bfcc-44b5-b345-58c23ac330c8" config-ref="Customers_MySQL_DB_Connection" >
			<db:sql ><![CDATA[SELECT * FROM flights_customers
WHERE accountID = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: message.attributes.uriParams.'id'
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="7e55391c-62a1-4dcb-898e-1c3450dadd00">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
(payload map( ( payload01 , indexOfPayload01 ) -> {
	id: payload01.accountID default "",
	firstName: (payload01.name as String splitBy ' ')[0] default "",
	lastName: (payload01.name as String splitBy ' ')[1] default "",
	address: ((payload01.street default "") ++ ', ' ++ (payload01.city default "")) ++ ' ' ++ (payload01.state default ""),
	postal: payload01.postal default "",
	country: payload01.country default "",
	miles: payload01.miles default 0,
	creationDate: payload01.creationDate as String default "",
	"type": payload01.accountType default ""
}))[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9c77d958-ddb5-47f4-af24-f71b8ca117cb" message="#[payload]" />
	</flow>
</mule>
