MOD 12 DIY/src/main/mule/foodnsavings.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<flow name="FoodNSavings" doc:id="450e2153-1276-48fc-b5f9-7808a3f8814e" initialState="stopped">
		<jms:listener doc:name="Listener" doc:id="837e7f31-b8e5-491c-bac1-39aff3f169b7" config-ref="JMS_Config" destination="${partner1.queue}">
			<jms:response >
				<jms:properties ><![CDATA[#[{
	"jmsStatusMessage": vars.jmsStatusMessage
}]]]></jms:properties>
			</jms:response>
		</jms:listener>
		<db:bulk-insert doc:name="Bulk insert" doc:id="088da91c-a5f9-4d46-915a-304cca8c9b1b" config-ref="Partner1_Database_Configuration">
			<db:sql ><![CDATA[INSERT INTO Giftcards (number, sourceID, balance, createdOn) VALUES
(:number, :sourceID, :balance, :createdOn)]]></db:sql>
		</db:bulk-insert>
		<ee:transform doc:name="Transform Message" doc:id="36c16707-cbf1-4e0f-b17a-37e4d5f4dfda" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7a192a2f-29ab-4dae-9d60-5cd6d2d9ec21" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="8afbdc35-d6ec-47bd-a22f-38d83be1f273" message="finished....."/>
		<set-payload value='#["Status" : "Success"]' doc:name="Set Payload" doc:id="ad56df79-3cca-4319-94aa-6a447cddc717" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="7628de78-00d0-4d91-b710-6dfc3b4cfa07" type="ANY">
				<set-payload value='#["Status" : "Failed"]' doc:name="Set Payload" doc:id="794edae6-e261-4286-b180-9dd4ca54b588" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
