accounts_api/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="d7fac926-5057-43c5-bde3-ed8c4d4d8bb7" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="get_account_id" doc:id="b09ffdec-0769-4598-840f-1c5888d32ca8" >
		<db:select doc:name="Select" doc:id="8cf2d4d0-f036-4b68-b85c-57f43f8d9b91" config-ref="Database_Config">
			<db:sql>select * from flights_customers where accountID =:accountID</db:sql>
			<db:input-parameters><![CDATA[#[{
	accountID : attributes.uriParams.id
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="c8aebbdf-5611-4dd4-a3ae-4e8bd82be7db" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index) -> 
("id" : item.accountID) ++  
("firstName" : (item.name splitBy (" "))[0]) ++ 
("secondName" : (item.name splitBy (" "))[1]) ++ 
("address" : [item.street, item.state] joinBy  (", ") ) ++ 
("postal" : item.postal) ++ 
("country" : item.country) ++ 
("creationDate" : item.creationDate) ++ 
("accountType" : item.accountType) ++ 
("miles" : item.miles) )]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="get_accounts" doc:id="8921734d-769e-4803-8dd5-57d8b5ca50ef" >
		<db:select doc:name="Select" doc:id="0c990d43-cacb-4dc3-b89d-daa4b170f1d5" config-ref="Database_Config">
			<db:sql>select * from flights_customers where accountType =:accountType</db:sql>
			<db:input-parameters ><![CDATA[#[{
	accountType : attributes.queryParams.'type'
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="7a4b29da-f5e5-4b21-b68a-fea025fd3f3f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index) -> 
("id" : item.accountID) ++  
("firstName" : (item.name splitBy (" "))[0]) ++ 
("secondName" : (item.name splitBy (" "))[1]) ++ 
("address" : [item.street, item.state] joinBy  (", ") ) ++ 
("postal" : item.postal) ++ 
("country" : item.country) ++ 
("creationDate" : item.creationDate) ++ 
("accountType" : item.accountType) ++ 
("miles" : item.miles) )]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
