apdev-examples-mod12,13/src/main/mule/accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="syncDBaccountsWithPostal" doc:id="3bf4194d-d8ec-4a0e-b646-52e8a1449ba2" initialState="started">
		<scheduler doc:name="Scheduler" doc:id="d9eb1ca1-6d27-4d2a-8976-36cf5ce351d3" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="lastAccountID" doc:id="6eab8afe-e95f-473f-bcff-ba255d0373d6" key="lastAccountID" target="lastAccountID">
			<os:default-value ><![CDATA[0]]></os:default-value>
		</os:retrieve>
		<db:select doc:name="accounts" doc:id="7e62e20e-3d5a-470b-a1ea-2538936d3413" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from accounts where postal = :postal AND accountID > :lastAccountID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	postal: '94105',
	lastAccountID: vars.lastAccountID
}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="57bba219-3155-4f48-882f-6931f7f68e46" message="#[payload]"/>
		<choice doc:name="Choice" doc:id="409b0f0f-57d7-4194-9295-d5dd66b66903" >
			<when expression="#[not isEmpty(payload)]">
				<os:store doc:name="Store" doc:id="c34cb871-832e-4abd-8fd2-78abaaf9c562" key="lastAccountID">
			<os:value><![CDATA[#[max(payload.*accountID)]]]></os:value>
		</os:store>
				<file:write doc:name="DBaccountsPostal.csv" doc:id="77c1e97c-861c-4e89-9e06-140fd18e6292" config-ref="File_Config" path="output/DBaccountsPostal.csv">
			<file:content><![CDATA[#[output applicatiion/csv header= false
---
payload]]]></file:content>
		</file:write>
				<jms:publish doc:name="JMS accountsQ" doc:id="7489dfa3-c44e-4f5e-835d-0a3e1cf719ba" config-ref="JMS_Config" destination="accountsQ">
					<jms:message >
						<jms:body ><![CDATA[#[output application/json --- payload]]]></jms:body>
						<jms:properties ><![CDATA[#[{
	"publisher" : "training"
}]]]></jms:properties>
					</jms:message>
				</jms:publish>
				<logger level="INFO" doc:name="CSV payload" doc:id="b3d68bdd-1a7f-425a-92ee-a9580ac8c2b5" message="#[output applicatiion/csv --- payload]" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="No new records" doc:id="f714a39a-3199-4524-9c2c-7641f2214f38" message="No new records"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="recieveJMSMessages" doc:id="add596c2-9f04-4740-a82b-bcdeecd4e793" initialState="started">
		<jms:listener doc:name="JMSaccountQ" doc:id="8c8afd9f-123b-49cd-b079-20e5152eade5" config-ref="JMS_Config" destination="accountsQ">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<ee:transform doc:name="JSON to Accounts" doc:id="90ee5164-25ac-4c20-a93e-ef8ceac21631" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
    Name: payload01.name,
    BillingStreet: payload01.street,
    BillingCity: (payload01.city default ""),
    BillingState: payload01.state,
    BillingPostalCode: payload01.postal,
    BillingCountry: payload01.country
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="syncWithSalesforce" doc:id="0bf0353f-1f7e-48f5-b454-a068b3b40b01" >
			<batch:process-records >
				<batch:step name="isAccountinSalesforce" doc:id="3ffe39a0-63df-43d5-b0cc-b5803e58657c" >
					<salesforce:query doc:name="Account" doc:id="b864df2a-a024-40c2-abd4-0d45405cef6a" config-ref="Salesforce_Config" target="exists" targetValue="#[(sizeOf(payload as Array) &gt; 0)]">
						<salesforce:salesforce-query><![CDATA[select Name from Account where Name  = ':cname']]></salesforce:salesforce-query>
						<salesforce:parameters><![CDATA[#[output application/java
---
{
	"cname" : payload.Name default "" as String
}]]]></salesforce:parameters>
					</salesforce:query>
					<logger level="INFO" doc:name="Logger" doc:id="5eea9335-84dc-4054-8c3c-ab6cea28c1ac" />
				</batch:step>
				<batch:step name="writeToSalesforce" doc:id="3143187d-72e1-4f3f-82d0-8179cbff814e" acceptExpression="#[not vars.exists]">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="227147ea-60eb-45c7-a841-8ef2d4ac2e9e" size="3">
						<salesforce:create type="Account" doc:name="Accounts" doc:id="4ed951a6-eca7-4612-b2d2-f9a3e24d9c60" config-ref="Salesforce_Config" />
						<logger level="INFO" doc:name="Logger" doc:id="5d166145-67c4-4537-bddf-23f6f69639c9" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
		</batch:job>
		<logger level="INFO" doc:name="payload" doc:id="f4f44ccb-bb7b-4d08-a155-e05fa6949578" message="#[payload]"/>
	</flow>
	<flow name="syncDBaccountsToCSV" doc:id="663f0112-c2e2-4d68-a454-bc89d851206d" initialState="stopped">
		<db:listener doc:name="accounts" doc:id="00f44e81-fc0e-41c1-ba48-f1ac35b4500f" config-ref="Database_Config" table="accounts" watermarkColumn="accountID" idColumn="accountID">
			<scheduling-strategy>
				<fixed-frequency frequency="10" timeUnit="SECONDS" />
			</scheduling-strategy>
		</db:listener>
		<ee:transform doc:name="Java to CSV" doc:id="80084be7-9571-4e8f-b0dc-aacdc8a74fbb">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv header=false
---
[payload]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="DBaccounts.csv" doc:id="0fab526d-4563-447e-b0ca-9911bdb50ea6" config-ref="File_Config" path="output/DBaccounts.csv" mode="APPEND"/>
		<logger level="INFO" doc:name="Logger" doc:id="bf8d6312-c0ed-4084-a158-c5c22759c9dc" message="#[payload]"/>
	</flow>
	<flow name="accountsFlow" doc:id="2c61e3ca-e63d-48c6-a8bd-70ad924b9f15" initialState="stopped">
		<http:listener doc:name="GET /sfdc" doc:id="4d01936a-b034-4334-b3b5-b35f3042b4fa" config-ref="HTTP_Listener_config" path="/sfdc"/>
		<salesforce:query doc:name="Account" doc:id="b023f471-315c-4fe5-8770-40038c381220" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Name, LastModifiedDate, BillingPostalCode
FROM Account
]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="91bffb81-9385-49da-a5de-03065cee60c4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getCSVaccounts" doc:id="82273c71-dcef-4037-ad23-9d4876a15605" initialState="stopped">
		<file:listener doc:name="accounts.csv" doc:id="4d14ea5f-ef23-4d11-910a-d9b91caeb3d7" config-ref="File_Config" directory="input" moveToDirectory="output">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="c447f607-ef50-479f-8709-9a124b4765f4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="b0dc0ef3-ff98-4b99-b47b-b4f546796c7a" >
			<set-payload value="processed" doc:name="processed" doc:id="d689420c-a576-4aff-9b85-565847fe5e3e" />
			<logger level="INFO" doc:name="payload" doc:id="42efaefa-0232-472b-9f44-1009b12fa279" message="#[payload]"/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="63f560bc-0f6c-4b2d-b7b1-a49a16fe2fab" message="#[payload]"/>
	</flow>
	<flow name="batchProcessCSVaccounts" doc:id="0e1537ff-aa32-4c9a-8644-8fedf1ada0be" initialState="stopped">
		<file:listener doc:name="accounts.csv" doc:id="83e20fc4-e16d-4752-9efa-525e5e97b0fd" config-ref="File_Config" directory="input" moveToDirectory="output" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="CSV to java" doc:id="7b9d83fd-dd9a-49f4-93d4-d1e366c9988c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[sizeOf(payload)]" doc:name="size" doc:id="3c8fceee-1bf2-4a36-bc8a-23e20f94f4a8" variableName="size"/>
		<batch:job jobName="accountsBatch_Job" doc:id="5f7632f4-d317-435b-937b-c07433de331f" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="2e0945f2-6d65-451e-9e6d-34b65febde4c" >
					<set-variable value="#[payload.Name]" doc:name="cname" doc:id="b0414005-0a90-41f0-ad02-e260fcc60d07" variableName="cname"/>
					<logger level="INFO" doc:name="Logger" doc:id="e604900c-d99e-4b7f-b2c2-c6b95430fc5d" />
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="f32537b7-d51c-433b-bac2-dd040a6e8ccf" >
					<logger level="INFO" doc:name="Logger" doc:id="b94fc504-5ab9-4310-a3eb-20f4e3a30dfb" />
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="1d215e14-3f95-4d5a-8803-d9e996dd7b4a" />
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
